<!DOCTYPE html>
<html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<head>
	<title>Business Information | Seflo Financial </title>
	
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/steps.css">
	<link rel="stylesheet" type="text/css" href="css/steps-comon.css">
	
	<style>
		.btn-group {
			width: 100%;
		}
		
		
	</style>
</head>
<body>

<header>
	<nav class="navbar">
		<div class="container">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="../images/logo.png"></a>
		  </div>

		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Sign in</a></li>
			<li><a href="#"> Sign up</a></li>
		  </ul>
		</div>
	  </nav>
	  <div class="container-fluid">
		<div class="row border-tb">
			<div class="container">
				<ul class="nav nav-tabs nav-justified pagesteps-links">
					<li><a href="index.html">Basic Information</a></li>
					<li><a href="own.html">Owner Information</a></li>
					<li class="active"><a href="bus.html">Business Information</a></li>
					<li><a href="doc.html">Documents Submission</a></li>
					<li><a href="sub.html">Submission</a></li>
				</ul>
			</div>
		</div>
	</div>	
</header>
<form class="msform">
	<fieldset class="">

		<div class="bus-step1">
			<h2 class="fs-title">Legal Name of the Business</h2>
			<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
		
			<div class="form-group text-left">
				<label for="sel1">Please enter Legal Name of the Business</label>
				<!-- <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span> -->
				<input type="text" name="numeric" placeholder="" class="form-control" />
			</div>
		</div>
		<hr>
		<div class="bus-step2 ">
			<h2 class="fs-title">What is the legal structure of your company?</h2>
			<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
			<div class="form-group text-left">
				<label for="sel1">Select One</label>
				<select class="form-control" id="sel1">
					<option>Sole Proprietorship</option>
					<option>Partnership</option>
					<option>Corporation</option>
					<option>Private Ltd</option>
					<option>Cooperative</option>
					<option value="other_show">Other</option>

				</select>
				<div class="other_field mt-15">
					<textarea class="form-control" rows="3" id="comment"></textarea>
				</div>
			</div>	
			
			<!-- <div class="check-box col-md-6">
				<input class="magic-checkbox anyother" value="busstep2-other" type="checkbox" name="layout" id="busstep2-7">
				<label for="busstep2-7">Other</label>
			</div>
			<div class="col-md-12">
				<div class="busstep2-other">
					<textarea class="form-control" rows="3" id="comment"></textarea>
				</div> -->
		   </div>
		
		<hr>
		<div class="bus-step3 row">
			<h2 class="fs-title">Office Address</h2>
			<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
			<div class="col-md-12">
				<div class="row">
					<!-- <h3 class="text-center mb-15">Owner Information</h3> -->
					<div class="form-group col-md-12 text-left">
							<label for="">Office name</label>
							<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-12 text-left">
						<label for="">Office Address</label>
						<textarea class="form-control" rows="3" id="comment"></textarea>
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">City</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">State</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">Country</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">Zip Code </label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					
				</div>	
			</div>
			
		</div>
		<hr>
		
		
		
		<!-- <div class="row bus-step8 radio_options">
			<h2 class="fs-title">Do you have a prior bankruptcy?</h2>
			<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
			<div class="col-md-6 radio-box">
				
					<input class="magic-radio options_check" value="bus_step8_yes" type="radio" name="radio1" id="bus-3">
					<label for="bus-3">Yes </label>
				
			</div>
			<div class="col-md-6 radio-box">
					<input class="magic-radio" value="bus_step8_no" type="radio" name="radio1" id="bus-4">
					<label for="bus-4">No </label>
			</div>
			<div class="col-md-12 depends">
				<div class="row">
					<div class="form-group text-left col-md-12">
						<label for="name">How Much?</label>
						<input type="text" placeholder="000" class="form-control" id="">
					</div>
				</div>	
			</div>
		</div>
		<hr> -->
		<!-- <div class="bus-step9 row">
			<h2 class="fs-title">Personal information of Owner(s) </h2>
			<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
			<div class="radio-box col-md-6">
				<input class="magic-radio" type="radio" name="bus-3" id="bus-3">
				<label for="bus-3">Yes </label>
			</div>
			<div class="radio-box col-md-6">
				<input class="magic-radio" type="radio" name="bus-3" id="bus-4">
				<label for="bus-4">No </label>
			</div>	
		</div>
		<hr> -->
		<div class="bus-step3 row">
			
			<div class="col-md-12">
			
				<div class="row">
					<div class="col-md-12">
						<h2 class="fs-title text-left">Primary Owner</h2>
					</div>
					<div class="form-group col-md-6 text-left">
							<label for="">Ownership</label>
							<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">SSN Number</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">Tax ID</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for=""> phone number</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">Annual Personal income</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">other income (if any)</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-12 text-left">
						<label for="">Residential address (Office, street, city, State)</label>
						<textarea type="text" class="form-control" id="" placeholder=""></textarea>
					</div>
				</div>	
						<hr>
					
				<div class="row">	
					<div class="col-md-12">
						<h2 class="fs-title text-left">Secondary Owner</h2>
					</div>
					<div class="form-group col-md-6 text-left">
							<label for="">Ownership</label>
							<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">SSN Number</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">Tax ID</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for=""> phone number</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">Annual Personal income</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-6 text-left">
						<label for="">other income (if any)</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-12 text-left">
						<label for="">Residential address (house, street, city, State)</label>
						<textarea type="text" class="form-control" id="" placeholder=""></textarea>
					</div>
				</div>	
	
				</div>
			</div>
			
		

		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset class="">
		<div class="row">
			<h2 class="fs-title">Personal information of Owner(s) </h2>
			<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
			
				<div class="col-md-12"><h2 class="fs-title text-left">Business Info </h2></div>
				<div class="form-group col-md-6 text-left">
						<label for="">Tax ID and Submission Details</label>
						<input type="text" class="form-control" id="" placeholder="">
				</div>
				<div class="form-group col-md-6 text-left">
					<label for="">SSN/SIN</label>
					<input type="text" class="form-control" id="" placeholder="">
				</div>
				<div class="form-group col-md-12 text-left">
					<label for=""> Employer Identification Number (For USA)</label>
					<input type="text" class="form-control" id="" placeholder="">
				</div>
				<div class="form-group col-md-12 text-left">
					<label for=""> Tax Identification Number (for Canada) Business License Number</label>
					<input type="text" class="form-control" id="" placeholder="">
				</div>
		</div>
		
		<hr>

		<div class="bus-step4 row">
			<h2 class="fs-title">Industry Classification and Sub-classification </h2>
			<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
			<div class="form-group col-md-6 text-left">
				<label for="sel1">Select list </label>
				<select id="cate_one" class="form-control">
					<option value="opt_1">Category One</option>
					<option value="opt_2">Category Two</option>
				</select>
			</div>
			<div class="form-group col-md-6 text-left">
				<label for="sel1">Select list</label>
				<select id="child_cate" class="form-control">
					<option value="child_opt1"> Sub Category One</option>
					<option value="child_opt2"> Sub Category One</option>
				</select>
			</div>	
		</div>
		<hr>
		<div class="bus-step5 row">
			<div class="col-md-12">
				<h2 class="fs-title">Is your business facility owned or leased? </h2>
				<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
				<div class="radio-group">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default radio-btn radio-left">
							<input type="radio" id="" name="" value="1" /> Owned
						</label>
						<label class="btn btn-default radio-btn radio-right">
							<input type="radio" id="" name="" value="2" />Leased
						</label> 
						<label class="btn btn-default radio-btn radio-right">
							<input type="radio" id="" name="" value="2" />Mortgage
						</label> 
					</div>	
				</div>
			</div>		
		</div>
		<hr>
		<div class="row bus-step6">
			<div class="col-md-12">
				<h2 class="fs-title">Number of Personnel employed at the business facility </h2>
				<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
				<div class="radio-group">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default radio-btn radio-left">
							<input type="radio" id="" name="" value="1" /> 0 - 5
						</label>
						<label class="btn btn-default radio-btn radio-right">
							<input type="radio" id="" name="" value="2" />6 - 10
						</label> 
						<label class="btn btn-default radio-btn radio-right">
							<input type="radio" id="" name="" value="2" />10 - 15
						</label> 
						<label class="btn btn-default radio-btn radio-right">
							<input type="radio" id="" name="" value="2" />16 - 20
						</label> 
						<label class="btn btn-default radio-btn radio-right">
							<input type="radio" id="" name="" value="2" />20 and higher
						</label> 
					</div>	
				</div>
			</div>		
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6 bus-step7 radio_options">
				<h2 class="fs-title">Do you have an existing debt?</h2>
				<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
				<div class="radio-box col-md-6">
					<input type="radio" class="magic-radio options_check" value="bus_step7_yes"  name="bus-step7" id="bus-1">
					<label for="bus-1">Yes </label>
				</div>
				<div class="radio-box col-md-6">
					<input type="radio" class="magic-radio" value="bus_step7_no"  name="bus-step7" id="bus-2">
					<label for="bus-2">No </label>
				</div>
				<div class="col-md-12 depends">
					<div class="row mt-10">
						<div class="form-group text-left col-md-12">
							<label for="name">How Much?</label>
							<input type="text" placeholder="000" class="form-control" id="">
						</div>
					</div>	
				</div>
			</div>	
			<div class="col-md-6 bus-step7 radio_options">
				<h2 class="fs-title">Do you have a prior bankruptcy?</h2>
				<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text </h3>
				<div class="col-md-6 radio-box">
					<input class="magic-radio options_check" value="bus_step8_yes" type="radio" name="radio1" id="bus-3">
					<label for="bus-3">Yes </label>
				</div>
				<div class="col-md-6 radio-box">
						<input class="magic-radio" value="bus_step8_no" type="radio" name="radio1" id="bus-4">
						<label for="bus-4">No </label>
				</div>
				<div class="col-md-12 depends">
					<div class="row mt-10">
						<div class="form-group text-left col-md-12">
							<label for="name">Select Year</label>
							<input type="text" placeholder="dd/mm/yyyy" class="form-control date_pick">
								
							</div>

						</div>
					</div>	
				</div>
			</div>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<a href="doc.html" class="next action-button" type="button">Next</a>
	</fieldset>
</form>


<footer class="container-fluid">
	<div class="row">
		<div class="container">
			<ul class="list-inline text-center">
				<li>Copyright &#169; 2020 Briskloanz  |  All Rights Reserved.</li>
				<li><a href="#"> Terms of Use </a></li>
				<li><a href="#">Privacy Policy</a></li>
			  </ul>
			  <div class="text-center">
				  <p>4100 Abc Ridge Road, Suite 500, abc, UT 84043 <br>
					(123) 456-7890</p>
			  </div>
		</div>
	</div>
	
</footer>





	<script type="text/javascript" src="../js/vendor/jquery-library.js"></script>
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/steps.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css"/>
</body>
</html>