<!DOCTYPE html>
<html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<head>
	<title>Home Loan | Briskloanz </title>
	<link rel="icon" href="../images/fav.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/steps.css">
	<link rel="stylesheet" type="text/css" href="css/steps-comon.css">
	
	<style>
		.radio-group.step02 label{
			display: table;
			height: 80px;
		}
		.radio-group.step02 label span {
			display: table-cell;
    		vertical-align: middle;
		}
	</style>
	
</head>
<body>

<header>
	<nav class="navbar">
		<div class="container">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="../images/logo.png"></a>
		  </div>
		  <!-- <ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Page 1</a></li>
			<li><a href="#">Page 2</a></li>
		  </ul> -->
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#"><!--<span class="glyphicon glyphicon-user"></span>--> Sign in</a></li>
			<li><a href="#"><!-- <span class="glyphicon glyphicon-log-in"></span>--> Sign up</a></li>
		  </ul>
		</div>
	  </nav>
	  <div class="container-fluid">
		<div class="row border-tb">
			<div class="container">
				<ul class="nav nav-tabs nav-justified pagesteps-links">
					<li class="active"><a href="home-loan.html">Home Loan</a></li>
					<li><a href="own.html">Owner Information</a></li>
					<li><a href="bus.html">Business Information</a></li>
					<li><a href="doc.html">Documents Submission</a></li>
					<li><a href="sub.html">Submission</a></li>
				</ul>
			</div>
		</div>
	</div>	
</header>

<div>

<!-- multistep form -->
<form class="msform">
  <!-- progressbar -->
  <!-- <ul id="progressbar">
    <li class="active">Account Setup</li>
    <li>Social Profiles</li>
    <li>Personal Details</li>
  </ul> -->
  <!-- fieldsets -->
  <fieldset>
        <div class="step2">
            <div class="row">
                <div class="col-md-12">
                        <h3 class="text-center mb-15">Home Loan</h3>
                </div>
                <div class="col-md-6">
                  
                    
                    <div class="form-group text-left">
                            <label for="">Type of Home Loan ?</label>	
                        <select class="form-control" id="month_sec">
                            <option disabled="" selected>Select </option>
                            <option> New Home </option>
                            <option>Home refinance</option>
                            
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    
                    
                    <div class="form-group text-left">
                            <label for=""> What type of property you are purchasing? </label>
                        <select class="form-control" id="month_sec">
                            <option disabled="" selected>Select </option>
                            <option> Single family home </option>
                            <option>Multi family home</option>
                            <option>Townhome</option>
                            <option>Flat</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-6">
                                         
                    <div class="form-group text-left">
                        <label>How this property will be used?  </label>
                        <select class="form-control" id="month_sec">
                            <option disabled="" selected>Select </option>
                            <option> Primary use</option>
                            <option> Secondary use</option>
                            <option>Rental purpose</option>
                            
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                  
                    <div class="form-group text-left">
                            <label for="">Name of state in which property to be purchased? </label> 
                            <input type="text" class="form-control" id="" placeholder="">
                    </div>
                </div>

                <div class="col-md-6">
                   
                    <div class="form-group text-left">
                         <label for="">Have you already funded any home ? </label>
                            <input type="text" class="form-control" id="" placeholder="">
                    </div>
                </div>

                <div class=" col-md-6">
                       
                        <div class="form-group text-left">
                            <label>When do you want to buy ?</label>
                            <select class="form-control" id="month_sec">
                                    <option disabled="" selected>Select </option>
                                    <option> Immediately</option>
                                    <option> Comparing options</option>
                                    <option> Within next few months</option>
                                    
                            </select>
                        </div>    
                    </div>

             </div>       
           </div>
	


    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>

  <fieldset class="">
        <div class="row">
            <div class="col-md-6">
                <div class="step02">
                
                    
                    <div class="form-group text-left">    
                        <label>What is estimated purchase price ?</label>
                            <input type='text' id='' class="form-control " maxlength="" />
                        </div>	
                    
                </div>	
                <hr>
            </div>
            <div class="col-md-6">
                <div class="step2">
                    
                    <div class="form-group text-left">
                        <label for="sel1">What is % down payment ?</label>
                        <select class="form-control" id="sel1">
                            <option disabled="" selected="">Select </option>
                                <option>..</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-6">     
                <div class="step4">
                    
                    <div class="form-group text-left">
                        <label for="sel1">What is combined household income ?</label>
                        <select class="form-control" id="sel1">
                            <option disabled="" selected="">Select </option>
                                <option>..</option>
                        </select>
                    </div>
                </div>  
               
            </div>
            <div class="col-md-6"> 
                <div class="step3">	
                        <div class="form-group text-left">    
                            <label>If yes, how long ago it was ?</label>
                                <input type='text' id='' class="form-control" maxlength="" />
                        </div>	
                </div>
            </div>      
        </div>    
        <hr>    
	<div class="step5 radio-group">
		<h2 class="fs-title">What is Your Employment Status ? </h2>
		<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text</h3>
		<div class="">
			<div class="btn-group" data-toggle="buttons">
				 <label class="btn btn-default radio-btn radio-left">
					<input type="radio" id="q156" name="" value="1" /> Self Employed
				</label>
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> Salaried
				</label> 
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> Part Time
				</label> 
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> Unemployed
				</label>
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" />Other
				</label>
			 </div>  
		 </div>
		
	</div>
    
    <hr>
	<div class="step5 radio-group">
		<h2 class="fs-title">What is your credit score? </h2>
		<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text</h3>
		<div class="">
			<div class="btn-group" data-toggle="buttons">
				 <label class="btn btn-default radio-btn radio-left">
					<input type="radio" id="q156" name="" value="1" /> 499 or below
				</label>
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> 500- 599
				</label> 
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> 600-649
				</label> 
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> 650-679
				</label>
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> 650-679
				</label>
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> 680-719
				</label>
				<label class="btn btn-default radio-btn">
					<input type="radio" id="" name="" value="2" /> 720 and above
				</label>
				
			 </div>  
		 </div>
		
    </div>
  
            

	<input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>

  <fieldset class="step8">
	<div class="row step6">
		<h2 class="fs-title">We need this to verify your identity.  </h2>
		<h3 class="fs-subtitle">Don't worry, your information is safe with us</h3>
		<div class="form-group text-left col-md-6">
                <label for="">First Name</label>
                <input type="text" class="form-control" id="" placeholder="First Name">
        </div>
		<div class="form-group text-left  col-md-6">
                <label for="">Last Name</label>
                <input type="text" class="form-control" id="" placeholder="Last Name">
        </div>
	</div>
	<hr>
	<div class="row step7">
		<h2 class="fs-title">What is your address ?  </h2>
		<h3 class="fs-subtitle">Lorem Ipsum is simply dummy text</h3>
        <div class="form-group text-left  col-md-6">
                <label for="">Street</label>
                <input type="text" class="form-control" id="" placeholder="Street">
        </div>
        <div class="form-group text-left  col-md-6">
                <label for="">City</label>
                <input type="text" class="form-control" id="" placeholder="City">
        </div>
        <div class="form-group text-left  col-md-6">
                <label for="">State</label>
                <input type="text" class="form-control" id="" placeholder="State">
        </div>
        <div class="form-group text-left  col-md-6">
                <label for="">Zip</label>
                <input type="text" class="form-control" id="" placeholder="Zip">
        </div>
        <div class="form-group text-left  col-md-6">
                <label for="">What is your Phone Number ? </label>
                <input type="text" class="form-control" id="" placeholder="Phone Number">
        </div>
        <div class="form-group text-left  col-md-6">
                <label for="">Please share your SSN ?  </label>
                <input type="text" class="form-control" id="" placeholder="SSN">
        </div>
        <div class="form-group text-left  col-md-6">
                <label for="">What is your email Id ?  </label>
                <input type="email" class="form-control" id="" placeholder="Email Id">
        </div>

        <div class="form-group text-left  col-md-6">
                <label for="">Create A Password  </label>
                <input type="password" class="form-control" id="" placeholder="Password">
        </div>

	</div>
			
		
	<input type="button" name="previous" class="previous action-button" value="Previous" />
	<a href="own.html" class="next action-button" type="button">Next</a>
	</div>
    <!--<input type="button" name="next" class="next action-button" value="Next" /> -->
  </fieldset>

</form>
</div>

<footer class="container-fluid">
	<div class="row">
		<div class="container">
			<ul class="list-inline text-center">
				<li>Copyright &#169; 2020 Briskloanz  |  All Rights Reserved. </li>
				<li><a href="#"> Terms of Use </a></li>
				<li><a href="#">Privacy Policy</a></li>
			  </ul>
			  <div class="text-center">
				  <p>4100 Abc Ridge Road, Suite 500, abc, UT 84043 <br>
					(123) 456-7890</p>
			  </div>
		</div>
	</div>
	
</footer>





	<script type="text/javascript" src="../js/vendor/jquery-library.js"></script>
	<!-- <script src="../js/vendor/jquery-migrate.js"></script> -->
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/steps.js"></script>
	<script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
	
</body>
</html>