<!DOCTYPE html>
<html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<head>
	<title>Submission | Seflo Financial </title>
	
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/steps-comon.css">
	<style>
		.fs-title {
			font-size: 20px;
		}
	</style>
</head>
<body>

<header>
	<nav class="navbar">
		<div class="container">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="../images/logo.png"></a>
		  </div>

		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Sign in</a></li>
			<li><a href="#"> Sign up</a></li>
		  </ul>
		</div>
	  </nav>
	  <div class="container-fluid">
		<div class="row border-tb">
			<div class="container">
				<ul class="nav nav-tabs nav-justified pagesteps-links">
					<li><a href="index.html">Basic Information</a></li>
					<li><a href="own.html">Owner Information</a></li>
					<li><a href="bus.html">Business Information</a></li>
					<li><a href="doc.html">Documents Submission</a></li>
					<li class="active"><a href="sub.html">Submission</a></li>
				</ul>
			</div>
		</div>
	</div>	
</header>
<div class="container-fluid">
	 <div class="row">
		<!-- <h1 class="text-center" style="margin-top: 30px;">Form Detail</h1> -->
		 <div class="container ct-container" style="margin-top: 50px;margin-bottom:50px;box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.13);padding: 20px 30px;
		 box-sizing: border-box;">
			<div class="row">
				
				<h2 class="fs-title text-center" style="margin-bottom: 30px;">Basic Information</h2>
				<div class="form-group col-md-6">
					<label for="">HOW MUCH MONEY DO YOU NEED?</label>
					<p>100 $</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">WHEN DID YOU START YOUR BUSINESS?</label>
					<p>Month 2020</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">MAY WE KNOW PURPOSE OF LOAN?</label>
					<p>Invoice Financing</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">WHAT IS YOUR CREDIT SCORE?</label>
					<p>720 and above</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">WHAT IS YOUR MONTHLY TURNOVER?</label>
					<p> USD 71k - 100k</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">ANNUAL REVENUE OF YOUR BUSINESS?</label>
					<p>USD 71k - 100k</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">WHAT IS MOST IMPORTANT FOR YOU?</label>
					<p>Low APR</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">WHAT TYPE OF CUSTOMERS DOES YOUR BUSINESS SERVE?</label>
					<p>Large Corporates</p>
				</div>
				<div class=" col-md-12">
					<div class="row">
						<div class="form-group col-md-12">
							<label for=""><b>ARE YOU AN ACCOUNTANT OR A BUSINESS OWNER?</b></label>
							<p>Accountant</p>
						</div>	
						<div class="form-group col-md-6">	
							<label for="">WHOM TO BE CONTACTED?</label>
							<p>Just Me</p>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="form-group col-md-12">
									<label>CONTACT INFORMATION</label>
								</div>
								<div class="form-group col-md-6">
									<label for="">Name</label>
									<p>Test user</p>
								</div>
								<div class="form-group col-md-6">
									<label for="">contact number</label>
									<p>09876543210</p>
								</div>
								<div class="form-group col-md-6">
									<label for="">email id</label>
									<p>test@gmail.com</p>

								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-12">
					<h2 class="fs-title text-center" style="margin-bottom: 30px;">Owner Information</h2>
				</div>
				<div class="form-group col-md-6">
					<label for="">First Name</label>
					<p>Test user</p>

				</div>
				<div class="form-group col-md-6">
					<label for="">Last Name</label>
					<p>User</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Email</label>
					<p>test@gmail.com</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Phone Number</label>
					<p>1234567890</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Choose Password</label>
					<p>123456789</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Confirm Password</label>
					<p>123456789</p>
				</div>
				<div class="col-md-12">
					<h2 class="fs-title text-center" style="margin-bottom: 30px;">Business Information </h2>
				</div>
				<div class="form-group col-md-6">
					<label for="">LEGAL NAME OF THE BUSINESS</label>
					<p>LEGAL NAME</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">WHAT IS THE LEGAL STRUCTURE OF YOUR COMPANY?</label>
					<p>Corporation</p>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for=""><b>FULL ADDRESS OF THE BUSINESS</b></label>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="">Office Name</label>
							<p>Office Name</p>
						</div>
						<div class="form-group col-md-6">
							<label for="">Business Address</label>
							<p>abc,123, UK</p>
						</div>
						<div class="form-group col-md-6">
							<label for="">City</label>
							<p>city name</p>
						</div>
						<div class="form-group col-md-6">
							<label for="">State</label>
							<p>State name</p>
						</div>
						<div class="form-group col-md-6">
							<label for="">Country</label>
							<p>Country name</p>
						</div>
						<div class="form-group col-md-6">
							<label for="">Zip Code</label>
							<p>Zip Code name</p>
						</div>
						<div class="form-group col-md-6">
							<label for="">MSA</label>
							<p> MSA Name</p>
						</div>
					</div>
					
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="">INDUSTRY CLASSIFICATION AND SUB-CLASSIFICATION</label>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<p>category one</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<p>category two</p>
							</div>
						</div>
					</div>	
				
				</div>	
				<div class="form-group col-md-6">
					<label for="">IS YOUR BUSINESS FACILITY OWNED OR LEASED?</label>
					<p> Owned		</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">NUMBER OF PERSONNEL EMPLOYED AT THE BUSINESS FACILITY</label>
					<p>6-10</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">DO YOU HAVE AN EXISTING DEBT?</label>
					<p>yes</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">how much ?</label>
					<p>100$</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">DO YOU HAVE A PRIOR BANKRUPTCY?					</label>
					<p>yes</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">how much ?</label>
					<p>100$</p>
				</div>
				<div class="col-md-12">
					<label for="">PERSONAL INFORMATION OF OWNER(S)</label>
					<p>BUSINESS INFO</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Tax ID And Submission Details</label>
					<p>12345678</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">SSN/SIN</label>
					<p>5874125</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Employer Identification Number (For USA)</label>
					<p>123456</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Tax Identification Number (For Canada) Business License Number</label>
					<p>12345678</p>
				</div>
				<div class="col-md-12">
					<label for="">PERSONAL INFORMATION OF OWNER(S)</label>
				</div>	
				<div class="form-group col-md-6">
					<label for="">Ownership</label>
					<p>abc</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">SSN Number</label>
					<p>1234560</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Tax ID</label>
					<p>124563</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Phone Number</label>
					<p>123456</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Annual Personal Income</label>
					<p>155$</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Other Income (If Any)</label>
					<p>...</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Residential Address (House, Street, City, State)</label>
					<p>all address</p>
				</div>
				<div class="col-md-12">
					<label for="">SECONDARY OWNER</label>
				
				</div>
				<div class="form-group col-md-6">
					<label for="">Ownership</label>
					<p>abc</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">SSN Number</label>
					<p>1234560</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Tax ID</label>
					<p>124563</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Phone Number</label>
					<p>123456</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Annual Personal Income</label>
					<p>155$</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Other Income (If Any)</label>
					<p>...</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">Residential Address (House, Street, City, State)</label>
					<p>all address</p>
				</div>
				<div class="col-md-12">
					<h2 class="fs-title text-center" style="margin-bottom: 30px;">Documents Submission </h2>
				</div>
				<div class="form-group col-md-6">
					<label for="">BANK STATEMENTS FOR LAST 6 MONTHS</label>
					<p>...</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">FINANCIAL INFO OF LAST 2 YEARS –PDF OR EXCEL</label>
					<p>...</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">KYC DOCUMENTS</label>
					<p>...</p>
				</div>
				<div class="form-group col-md-6">
					<label for="">VOID CHEQUE</label>
					<p>...</p>
				</div>
				
			</div>
			<div class="col-md-12 text-center">
				<a href="#" class="next action-button" type="button">Submit</a>
			</div>
			
		 </div>
	 </div>
</div>


<footer class="container-fluid">
	<div class="row">
		<div class="container">
			<ul class="list-inline text-center">
				<li>Copyright &#169; 2023 Seflo Financial  |  All Rights Reserved.</li>
				<li><a href="#"> Terms of Use </a></li>
				<li><a href="#">Privacy Policy</a></li>
			  </ul>
			  <div class="text-center">
				  <p>212 N. 2nd Street, Richmond, KY 40475 <br>
					(502) 381-9649</p>
			  </div>
		</div>
	</div>
	
</footer>





	<script type="text/javascript" src="../js/vendor/jquery-library.js"></script>
	<!-- <script type="text/javascript" src="js/jquery.easing.min.js"></script> -->
	<!-- <script type="text/javascript" src="js/steps.js"></script> -->
	<script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
</body>
</html>